* {
    margin: 0;
    padding: 0;
}

body {
    background: midnightblue;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr .5fr 1fr 1fr 1fr 1.5fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "main"
    "main"
    "foot";
    
    
}

h1, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    line-height: 1.5em;
    color: darkseagreen;
    text-shadow: 1px 1px 2px deepskyblue;
}

h2 {
    color: indigo;
    margin-top: .25em;
    font-weight: normal;
}

h3 {
    font-style: italic;
    padding-bottom: 1.5em;
}

h4 {
    font-family: cursive;
    color: white;
    font-weight: lighter;
    font-style: italic;
}


p {
    font-size: 1.25em;
    margin: .5em 0;
    
}

p.footc {
    color: darkblue;
    text-shadow: 3px 1px 2px deepskyblue;
    
}

.p3 {
    color: black;
    margin: .1em .25em;
}

.p4 {
    font-family: fantasy;
    padding: 0 .25em;
  
}

header {
    grid-area: header;
    display: grid;
    margin: auto;
    border-bottom: 3px solid deepskyblue;
    text-align: center;
    
}

ol {
    color: black;
    margin-left: 2em;
    display: block;
    line-height: 1.2em;
}

ul {
    display: inline-flex;
    list-style: none;
    
}

li {
    margin: 0 .5em;
}

a {
    text-decoration: none;
    text-shadow: 1px 2px 1px deepskyblue;
}

a:hover {
    color: thistle;
}

.nav {
    grid-area: nav;
    display: inline;
    color: darkblue;
    font-size: 2em;
    background-color: darkcyan;
    padding: .5em 0;
    margin: auto;
}

.main {
    grid-area: main;
    background-color: darkviolet;
    margin: .5em 0;
    display: grid;
}

.foot {
    grid-area: foot;
    background-color: darkcyan;
    color: indigo;
    border-bottom: 3px solid deepskyblue;
    
}

.box {
    background-color: darkblue;
    box-shadow: 5px 7px 5px indigo;
    height: auto;
    padding: .25em;
    
}

.box2 {
    background-color: darkcyan;
    color: deepskyblue;
    box-shadow: 5px 7px 5px indigo;
    height: auto;
    margin: .25em;
    font-family: 'Courier New', Courier, monospace;
    
    
}

.a2 {
    color: lightseagreen;
    text-shadow: none;
}

.box3 {
    background-color: midnightblue;
    color: darkseagreen;
    box-shadow: 5px 7px 5px indigo;
    height: auto;
    margin: .25em;
    
}

.box {
    background-color: darkblue;
    box-shadow: 5px 7px 5px indigo;
    width: 48%;
    height: auto;
    padding: .25em;
    
}