* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1em;
    grid-template-rows: auto 10vh;
    grid-template-areas: 
       "head head head head"
       "side nav nav nav"
       "side main main main"
       "side main main main"
       "foot foot foot foot";
}


h3 {
   margin: .5em;
   padding: .5em;
   background-color: lightcyan;
}

h4 {
    margin: .5em;
    padding: .5em;
    background-color: lavenderblush;
}

h5 {
    margin: 7px;
    padding: 7px;
}

h6 {
    padding: 20px;
}

p {
    margin: .5em;
    

}

a {
    text-decoration: none;
    background-color: lavenderblush;
    margin-right: 1em;
    margin-bottom: 1.5em;
    margin-top: 1em;
    line-height: 1.5em;
}

a:hover {
    background-color: lightgreen;
    
    
}



ol {
    font-style: oblique;
    margin-left: 1em;
    padding-left: 2em;
    line-height: 1.5em;
    margin-right: .5em;
    padding-right: .5em;
    
    
}

ul {
    font-style: italic;
    margin-left: 10pt;
    padding-left: 40px;
    margin-right: 7px;
    padding-right: 7px;
       
}

ul2 {
    list-style-type: none ;
    display: grid;
}

li2 {
    margin: 5pt 0;
    

}

li3 {
    margin-left: 5pt;
    margin-top: 5pt;
    font-size: smaller;
    background-color: lemonchiffon;
    
}

.header {
    grid-area: head;
    background-color: lavender;
    padding: 1em;
}

.nav {
    grid-area: nav;
    background-color: lemonchiffon;
    padding: 1em;
    display: inline;

    
}

.nav2 {
    background-color: lemonchiffon;
    padding: 10px;

}


.side {
    grid-area: side;
    background-color: lavenderblush;
}

.main {
    grid-area: main;
    background-color: lightgreen;
    padding-left: 1em;
    display: grid;
    
    }
    

#color {
    background-color: lawngreen;
}

.box1 {
    background-color: khaki;
    font-family: monospace;
}


.foot {
    grid-area: foot;
    background-color: lightsteelblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

    
}




