* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-column: span;
   
    grid-template-areas: 
       "head"
       "nav"
       "main"
       "main"
       "foot"  
    ;
}


h1, h2, h3, h4, h5, h6 {
    
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

h5 {
    color: black;

}

p {
    margin: 1em;

}

.p2 {
    margin: 0;

}

.small {
    font-size: small;
    color: black;
    margin-top: .25em;
}

a {
    text-decoration: none;
    color: darkblue;
    background-color: cornflowerblue;
    padding: .25em .5em;
    line-height: 2.5;
    
}

a:hover {
    color: azure;
}

img {
   border: black 1px solid;
   margin: 10% 10%;
   width: 80%;
   height: auto;
   
}

.gallery {
    
    align-items: center;
    grid-column: 1fr;
    grid-row: 1fr .25fr 1fr .25fr 1fr .25fr;
    background-color: lightgreen;
    border: 1px solid black;
    
}

ul {
    margin-left: 1.5em;
    color: darkblue;
    list-style: none;

}

.ul2 {
    
    display: grid;
    
    
}


ol {
    list-style: none;
    background-color: lightgreen;
    color: darkblue;
    padding-left: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    margin: auto;
    
}


.head {
    background-color: cornflowerblue;
    color: lightgreen;
    font-size: small;
    margin: 0;
    text-align: left;
    grid-area: head;
    padding: .75em;
}

.nav {
    display: block;
    background-color: lightgreen;
    color: darkblue;
    grid-area: nav;
    margin: auto;
    padding: 0 .5em;

}

.main {
    columns: 1;
    border-left: cornflowerblue 1.5em solid;
    grid-area: main;
    
    
}

.foot {
    
    background-color: lightgreen;
    padding: .5em 0;;
    grid-area: foot;
    display: inline-flexbox;
}

/*small screens*/

@media only screen and (min-width: 480px) {
    .wrapper {
        display: grid;
        grid-template-columns: .75fr 1fr;
        grid-template-rows: 50px auto;
        grid-template-areas: 
        "head nav"
        "main main"
        "foot foot";
    }

    .nav {
        display: inline;
        font-weight: bolder;
        margin: 0;
        vertical-align: middle;
        
        background-color: lightgreen;
    }
}

