* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    display: grid;
    gap: .5em;
    grid-template-rows: auto 10vh;
    grid-column: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
       "head head nav2 nav2"
       "side nav nav nav"
       "side main main main"
       "side main main main"
       "foot foot foot foot";
}


/*small screens*/

@media only screen and (max-width:800px) {
    body {
        display: grid;
        grid-template-areas: 
           "head"
           "nav2"
           "side"
           "nav"
           "main"
           "foot";
    }

    .header {
        text-align: center;
        
    }

    .main {
        text-align: left;
    }

    .side {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: grid;
        font-size: 1.5em;
    }

    .foot {
        columns: 1;
    }

    
}


/*
@media only screen and (min-width:600px) {
    footer {
        display: flow-root;
    }
}*/

h1 {
    padding-bottom: 1em;
}

h3 {
   margin: .5em;
   padding: .5em;
   background-color: lightcyan;
}

h4 {
    margin: .5em;
    padding: .5em;
    background-color: lavenderblush;
}

h5 {
    margin: .5em;
    padding: .5em;
}

h6 {
    padding: 1em;
}

p {
    margin: .5em;
} 

.p2 {
    font-variant: small-caps;
    margin:.5em;
    margin-top: 1.5em;
}

a {
    text-decoration: none;
    background-color: lightgreen;
    color: black;
    padding: .5em;
    line-height: 1.5em;
    

} 

.a1 {
    color: black;
    padding: .5em;
}

.a1:hover {
    color: white;
}

a:hover {
    background-color: lightgreen;
    color: white;
    
    
}

img {
    width: 100%;
    height: auto;
}

ol {
    font-style: oblique;
    margin-left: 1em;
    padding-left: 2em;
    line-height: 1.5em;
    margin-right: .5em;
    padding-right: .5em;
    
    
}

ol2 {
    font-weight: bolder;
}

ul {
    font-style: italic;

    margin-left: .5em;
    padding-left: 2em;
    margin-right: .5em;
    padding-right: .5em;


       
}

ul2 {
    list-style-type: none ;
    display: grid;
}

li2 {
    margin: .5em;
    

}

li3 {
    margin-left: .5em;
    margin-top: .5em;
    font-size: smaller;
    background-color: lemonchiffon;
    
}

.header {
    grid-area: head;
    background-color: lavender;
    padding: 1em;
}

.nav {
    grid-area: nav;
    background-color: lemonchiffon;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.nav2 {
    background-color: plum;
    margin: auto;
    grid-area: nav2;
    text-align: center;
    justify-content: center;
    padding: 1em;
    padding-bottom: -1em;
    

}


.side {
    grid-area: side;
    background-color: lavenderblush;
    font-size: 1rem;
    border: 2px lemonchiffon solid;
}

.main {
    grid-area: main;
    background-color: lightgreen;
    padding-left: 1em;
    display: grid;
    
    }
    

#color {
    background-color: lawngreen;
}

.box1 {
    background-color: khaki;
    font-family: monospace;
}


.foot {
    grid-area: foot;
    background-color: lightsteelblue;
   
    
    }





